.main__slider, .main__article{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90vh;
}
.slider{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 3rem;
    font-family: Montserrat;
}
.slider img{
    width: 100%;
    height: 100%;
}

.slider h2{
    display: block;
    margin-top: -45vh;
    margin-left: 15vw;
    text-decoration: underline;
    text-transform: uppercase;
    
}

.main__brands{
    width: 90%;
    margin: auto;
}


.main__brands__items{
    display: grid;
    grid-template-columns: repeat(6, auto);
    width: 90vw;
    margin: auto;
}

.main__brands__items img{
    width: 80%;
    height: 80%;
    border-right: 1px solid gray;
}
.main__brands__items img:last-child{
    border-right: none;
}

.article__name{
    text-align: center;
    text-transform: uppercase;
}
.article__subname{
    text-align: center;
}

.collection{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 80vw;
    margin: auto;
}
.collection__item{
    padding: 1rem;
}
.collection__item img{
    height: 40vh;
    width: calc(40vh/16*12);
    
}

.new_items{
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 80vw;
    margin: auto;
}

.button__container{
    margin: auto;
    width: 100%;
}
.link__button{
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    
}

.price{
    width:100%
}
.old__price{
    text-decoration: line-through;
    display: inline;
    margin-right: 2rem;
}

.new__price{
    color: red;
    display: inline;
}


.overlay{
    width: 100vw;
    display: block;
    grid-column: span 2;
}

.order__container{
    display: grid;
    grid-template-columns: 20% auto;
    grid-column: span 2;
    width: 80vw;
    background-color: white;
    margin: auto;
    margin-top: -10%;
    height: 40vh;
    box-shadow: 1px 1px 5px;


}
.order__form{
    height: 5rem;
}

.phone__picture{
    display: block;
    margin-top: -40%;

}
.form__input{
    font-size: 1.3rem;
}

.form__button, .form__button:link, .form__button:visited, .form__button:hover{
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    height: 3rem;
    padding: 0%;
    text-align: justify;
}

.order__info{
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 80vw; 
    margin: auto;
    margin-bottom: 0;
    height: 10vh;
}

.order__info__item{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0.1);
}
.order__info__item img{
    width: 2rem;
    height: 2rem;
    display: block;
    margin: auto;
}
.order__info__item span{
    display: block;
    margin: auto; 
    text-align: center;
    margin-bottom: 0; 
}


