header{
    display: grid;
    grid-template-columns: 10% 20% auto 10% 10%;
    grid-template-rows: 10vh;
    width: 80vw;
    margin: auto;
    margin-top: 1rem;
}
.header__item{
    display: block;
}
.header__item *{
    height: auto;
    display: block;
}
.search__input{
    width: 90%;
    font-size: 1.2rem;
    height: 70%;
}
.header__icon{
    width: auto;
    height: 4vh;
    margin: auto;
}
.icon__description{
    margin: auto;
    text-align: center;
}
