<footer class="footer">
    <div class="footer__col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, modi.</div>
    <div class="footer__col">
        <nav class="categories">
            <li class="categories__item">lorem</li>
            <li class="categories__item">lorem</li>
            <li class="categories__item">lorem</li>
            <li class="categories__item">lorem</li>
            <li class="categories__item">lorem</li>
            <li class="categories__item">lorem</li>
            <li class="categories__item">lorem</li>
            <li class="categories__item">lorem</li>
            <li class="categories__item">lorem</li>
            <li class="categories__item">lorem</li>
            <li class="categories__item">lorem</li>
        </nav>
    </div>
    <div class="footer__col">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum voluptate corporis exercitationem reiciendis laboriosam!
    </div>
</footer>
