<footer class="footer">
    <div class="footer__col">
        <h3>INTEFRA</h3>
            <p>
                INTEFRA – российская платформа, на которой объединены ведущие 
                итальянские бренды одежды, обуви и аксессуаров.
            </p>
            <p>
                INTEFRA.RU - с 2012 года - 100% оригинальные товары
            </p>
        </div>
    <div class="footer__col">
        <nav class="categories">
            <li class="categories__item">Обувь</li>
            <li class="categories__item">Футболки поло</li>
            <li class="categories__item">Джинсы и брюки</li>
            <li class="categories__item">Сумки</li>
            <li class="categories__item">Верхняя одежда</li>
            <li class="categories__item">Ремни</li>
            <li class="categories__item">Спортивные костюмы</li>
            <li class="categories__item">Акссесуары</li>
            <li class="categories__item">Пиджаки и костюмы</li>
            <li class="categories__item">Бренды</li>
            <li class="categories__item">Свитера, поло, джемперы</li>
        </nav>
    </div>
    <div class="footer__col">
        <div>
            <p class="adress">
                Офис в России Москва, 
                Кутузовский пр. 2 Санкт-Петербург, Большой проспект П.С. 13
            </p>
            <img src="/assets/images/map-icon.svg" alt="" class="map__icon">
        </div>
        
        <div>
            <p class="adress">
                Офис в Италии Milano, Via Manzoni 23
            </p>
            <img src="/assets/images/map-icon.svg" alt="" class="map__icon">
        </div>
    </div>
</footer>
