<header class="header">
    <div class="header__item"><img src="/assets/images/menu.svg" alt="" class="header__icon"></div>
    <div class="header__item"><img src="/assets/images/logo.png" alt=""></div>
    <div class="header__item"><input type="text" class="search__input"></div>
    <div class="header__item"><img src="/assets/images/delivery-icon.svg" alt=""class="header__icon"><span class="icon__description">Доставка</span></div>
    <div class="header__item"><img src="/assets/images/cart-icon.svg" alt=""class="header__icon"><span class="icon__description">Корзина</span></div>
</header>
